#foreground{
  background-color:#34495E;
  height:100%;
  width:100%;
  bottom:0px;
  left:0px;
  position:fixed;
  background-image:url("https://archive-media-1.nyafuu.org/wg/image/1456/70/1456700169704.png");
  background-size:100% 100%;
}
#body{
 height:100%; 
 background-Color:#f8bf00;
}
