.unit1{
	background-color:black;
	height:90px;
	width:90px;
}
.unit2{
	background-color:#ffce5d;
	height:90px;
	width:90px;
}
#columnone{
	top:0px;
	left:280px;
	position:fixed;
}
#columntwo{
	top:0px;
	left:370px;
	position:fixed;
}
#columnthree{
	top:0px;
	left:460px;
	position:fixed;
}
#columnfour{
	top:0px;
	left:550px;
	position:fixed;

}
#columnfive{
	top:0px;
	left:640px;
	position:fixed;
}
#columnsix{
	top:0px;
	left:730px;
	position:fixed;
}
#columnseven{
	top:0px;
	left:820px;
	position:fixed;
}
#columneight{
	top:0px;
	left:910px;
	position:fixed;
}
