.unit1{
	background-color:black;
	height:90px;
	width:90px;
}
.unit2{
	background-color:#ffce5d;
	height:90px;
	width:90px;
}
#columnone{
	top:0px;
	left:0px;
	position:fixed;
}
#columntwo{
	top:0px;
	left:90px;
	position:fixed;
}
#columnthree{
	top:0px;
	left:180px;
	position:fixed;
}
#columnfour{
	top:0px;
	left:270px;
	position:fixed;

}
#columnfive{
	top:0px;
	left:360px;
	position:fixed;
}
#columnsix{
	top:0px;
	left:450px;
	position:fixed;
}
#columnseven{
	top:0px;
	left:540px;
	position:fixed;
}
#columneight{
	top:0px;
	left:630px;
	position:fixed;
}
